@model List<ListVacationRequestDto>
<!--Index-->
@*<a id="SenderToManager" onclick='SendToManager(id)' asp-controller="Vacation" asp-action="CreateVacationRequset" asp-route-vacationRequestId="" as>Rəhbərə göndər</a>*@
<div>
    <a class="button-accept " asp-controller="Vacation" asp-action="CreateVacationRequset"> Yeni Məzuniyyət tələbi yarat</a>
</div>
<table class="table" id="requestTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#Müraciət nömrəsi</th>
            <th scope="col">İşçi</th>
            <th scope="col">Vəzifə</th>
            <th scope="col">Əvəz edən şəxs</th>
            <th scope="col">Məzuniyyə başlama tarixi</th>
            <th scope="col">Məzuniyyin bitmə tarixi</th>
            <th scope="col">Məzuniyyətin növü</th>
            <th scope="col">Müraciət statusu</th>
            <th scope="col">Yaradılma tarixi</th>
            <th scope="col">Həftə sonu daxildirmi?</th>
            <th scope="col">#</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td hidden>@item.Id</td>*@
                <td>@item.RequestNo</td>
                <td>@item.VacationerFullName</td>
                <td>@item.VacationerPosition</td>
                <td>@item.ReplacementPerson</td>
                <td>@item.StartVacation.ToString("dd-MM-yyyy")</td>
                <td>@item.EndVacation.ToString("dd-MM-yyyy")</td>
                <td>@item.VacationType</td>
                @switch (item.VacationRequestStatus)
                {
                    case @VacationRequestStatus.Created:
                        <td style="background-color:blue">Yaradılıb</td>
                        break;
                    case @VacationRequestStatus.WasSentToManager:
                        <td style="background-color:yellow">Rəhbərə göndərilib</td>
                        break;
                    case @VacationRequestStatus.Accepted:
                        <td style="background-color:green">Qəbul edilib</td>
                        break;
                    case @VacationRequestStatus.Rejected:
                        <td style="background-color:red">Qəbul edilməyib</td>
                        break;
                }
                <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                @if (item.IsIncludedWeekend)
                {
                    <td>Həftə sonu daxil olmaqla</td>
                }
                else
                {
                    <td>Həftə sonu daxil deyil</td>
                }




                @if (item.VacationRequestStatus == DataAccess.Entites.Enums.VacationRequestStatus.Created)
                {
                    <td><a class="button-send" asp-controller="Vacation" asp-action="SendToManager" asp-route-vacationRequestId="@item.Id">Rəhbərə göndər</a></td>
                }
            </tr>
        }
    </tbody>
</table>
<!--End Index-->
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
</script>



